cryptography
requests
py-cpuinfo
tqdm
regex
docker
ebooklib
python-pptx
python-docx
lameenc
museval
openunmix
submitit
treetable
dora-search
fastapi
hf_xet
beautifulsoup4
nagisa
pymupdf
pymupdf-layout
hangul-romanize
iso639-lang
soynlp
jieba
uroman
fugashi
unidic-lite
pycantonese
pypinyin
pythainlp
pykakasi
mutagen
PyOpenGL
phonemizer-fork
num2words2
pydub
soundfile
unidecode
langdetect
phonemizer
indic-nlp-library
pytesseract
torchvggish
sentence-transformers
stanza==1.10.1
argostranslate==1.11.0
pandas>=1.0,<3.0
gradio==5.49.1
coqui-tts[languages]==0.27.5
piper-tts==1.4.2
./ext/py/demucs